{{- if .Values.postgres.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: postgres-service
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "todo-chatbot.postgres.labels" . | nindent 4 }}
spec:
  type: {{ .Values.postgres.service.type }}
  clusterIP: None
  selector:
    app: postgres
  ports:
  - port: {{ .Values.postgres.service.port }}
    targetPort: {{ .Values.postgres.service.port }}
    protocol: TCP
    name: postgres
{{- end }}
